[Unit]
Description=Synchronize System and HW clocks
DefaultDependencies=no
Wants=sysinit.target
Conflicts=shutdown.target
After=getty.target

[Service]
Type=oneshot
ExecStart=/sbin/hwclock --systohc
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
