[Unit]
Description=Synchronize System and HW clocks
DefaultDependencies=no
Wants=sysinit.target
Conflicts=shutdown.target
After=systemd-timesyncd.service
Before=sysinit.target shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/hwclock --systohc
StandardOutput=syslog

[Install]
WantedBy=sysinit.target
